html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.container {
  width: 71%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (max-width: 1600px) {
  .container {
    width: 96%;
  }
}

.header__top {
  background-color: #222222;
  position: relative;
}

.header__navigation {
  display: none;
  width: 232px;
  height: 764px;
  position: absolute;
  z-index: 1;
  top: 75px;
  background-color: white;
}

.header__navigation-item-content:hover .header__sub-title,
.header__sub-navigation-content:hover .header__sub-navigation-link {
  text-decoration: underline;
}

.header__navigation-list {
  margin: 37px 0 0 34px;
}

.header__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 0 24px 0;
}

.header__sub-title {
  padding: 0 0 13px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #F16D7F;
  text-decoration: none;
}

.header__sub-navigation-list {
  padding: 20px 0 20px 22px;
}

.header__sub-navigation-content {
  padding: 0 0 11px 0;
}

.header__sub-navigation-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-decoration: none;
  color: #6F6E6E;
}

.header__items {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__logo:hover {
  opacity: 0.9;
}

.header__search-item, .header__burger-item, .header__person-item, .header__cart-item {
  fill: #E8E8E8;
  cursor: pointer;
}

.header__burger-button {
  background: transparent;
  border: none;
  margin: 0 34px 0 0;
}

.header__burger-button:hover .header__burger-item {
  fill: #F16D7F;
}

.header__burger-button:hover + .header__navigation {
  display: block;
}

.header__person {
  margin: 0 34px 0 0;
}

.header__cart:hover .header__cart-item,
.header__person:hover .header__person-item,
.header__search:hover .header__search-item {
  fill: #F16D7F;
}

.header__content {
  display: flex;
  margin: 0 auto;
  max-width: 1600px;
  margin: 0 auto 63px auto;
}

@media (max-width: 767px) {
  .header__content {
    min-height: 363px;
  }
}

.header__content-img {
  width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  .header__content-img {
    display: none;
  }
}

.header__content-box {
  background-color: #F1E4E6;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 0 0 92px;
}

@media (max-width: 1599px) {
  .header__content-box {
    padding: 0 0 0 68px;
  }
}

@media (max-width: 767px) {
  .header__content-box {
    padding: 0 0 0 56px;
  }
}

.header__content-title {
  position: relative;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

@media (max-width: 1599px) {
  .header__content-title {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
  }
}

@media (max-width: 767px) {
  .header__content-title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
  }
}

.header__content-title::before {
  content: '';
  position: relative;
  display: block;
  width: 12px;
  height: 92px;
  left: -20px;
  top: 93px;
  background-color: #F16D7F;
}

@media (max-width: 767px) {
  .header__content-title::before {
    height: 62px;
    top: 68px;
  }
}

.header__content-sub-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

@media (max-width: 1599px) {
  .header__content-sub-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  .header__content-sub-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}

.header__content-pink-sub-title {
  color: #F16D7F;
}

.header__items-right {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

[type="search"] {
  height: 40px;
  max-width: 400px;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  padding-left: 55px;
}

.search {
  padding: 30px 30px;
}

.search-form {
  margin-left: -25px;
  position: relative;
}

.search-form:before {
  content: '';
  position: absolute;
  width: 27px;
  height: 28px;
  background: none;
  top: 8px;
  left: 14px;
  background-image: url(../img/search.svg);
  background-size: 27px 28px;
}

@media (max-width: 767px) {
  .header__person {
    display: none;
  }
  .header__cart {
    display: none;
  }
}

.promotions__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promotions__item {
  width: 31%;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px;
}

@media (max-width: 1599px) {
  .promotions__item {
    width: 31%;
    min-height: 168px;
    margin: 0 0 19px;
  }
}

@media (max-width: 767px) {
  .promotions__item {
    width: 100%;
    min-height: 247px;
    margin: 0 0 32px;
  }
}

.promotions__item--woman {
  background-image: url("../img/prom-woman.jpg");
  background-size: cover;
}

.promotions__item--men {
  background-image: url("../img/prom-man.jpg");
  background-size: cover;
}

.promotions__item--kids {
  background-image: url("../img/prom-kids.jpg");
  background-size: cover;
}

.promotions__item--accesories {
  background-image: url("../img/prom-acces.jpg");
  background-size: cover;
  width: 100%;
}

@media (max-width: 1599px) {
  .promotions__item--accesories {
    min-height: 116px;
  }
}

.promotions__item-link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.promotions__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #FFFFFF;
  padding: 0 0 4px 0;
}

.promotions__text {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0em;
  text-align: center;
  color: #F16D7F;
}

.products__headline {
  margin: 97px 0 48px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .products__headline {
    margin: 64px 0 0 64px 0;
  }
}

.products__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
}

.products__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #9F9F9F;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .products__list {
    flex-direction: column;
    align-items: center;
  }
}

.products__item {
  width: 360px;
  height: 581px;
  background-color: #F8F8F8;
  margin: 0 0 30px 0;
  position: relative;
}

@media (max-width: 375px) {
  .products__item {
    width: 100%;
  }
}

.products__button {
  margin: 48px 0 0 0;
  display: flex;
  justify-content: center;
}

.products__button-browse {
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  color: #F26376;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  background-color: transparent;
}

.products__button-browse:hover {
  background-color: #F16D7F;
  color: white;
}

.product__item-overlay {
  padding: 0 0 25px 0;
  width: 100%;
  height: 420px;
}

.product__item-overlay::before {
  content: '';
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 420px;
  background: rgba(61, 57, 57, 0.842);
}

.product__item-wrapper:hover .product__item-overlay::before,
.product__item-wrapper:hover .product__item-btn {
  display: block;
}

.product__item-descr {
  padding: 0 0 0 28px;
  text-align: left;
}

.product__item-descr:hover .product__item-title {
  text-decoration: underline;
}

.product__item-title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  padding: 0 0 12px 0;
}

.product__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  color: #5D5D5D;
  padding: 0 0 18px 0;
}

.product__item-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #F16D7F;
}

@media (max-width: 375px) {
  .product__item-img {
    width: 100%;
  }
}

.product__item-btn {
  display: none;
  width: 138px;
  height: 43px;
  position: absolute;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #FFFFFF;
  text-align: center;
  left: 109px;
  top: 177px;
}

.product__item-btn::before {
  content: ' ';
  display: block;
  width: 26px;
  height: 24px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-size: 26px 24px;
}

.product__item-btn:hover {
  cursor: pointer;
}

.footer__content {
  margin: 95.5px 0 0 0;
  height: 341px;
  background-color: #222224;
  display: flex;
  align-items: center;
}

@media (max-width: 1599px) {
  .footer__content {
    height: auto;
  }
}

.footer__benefits {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1599px) {
  .footer__benefits {
    flex-direction: column;
    align-items: center;
    padding: 48px 0 64px 0;
  }
}

@media (max-width: 767px) {
  .footer__benefits {
    flex-direction: column;
    align-items: center;
    padding: 48px 0 64px 0;
  }
}

.footer__features {
  width: 360px;
  height: 133px;
  text-align: center;
}

@media (max-width: 1599px) {
  .footer__features {
    margin: 0 0 48px 0;
  }
}

.footer__car {
  padding: 0 0 28px 0;
}

.footer__sale {
  padding: 0 0 19px 0;
}

.footer__crown {
  padding: 0 0 25px 0;
}

.footer__pic-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #FBFBFB;
}

.footer__pic-text {
  padding: 16px 0 0 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  color: #FBFBFB;
  opacity: 0.8;
}

.footer__content-subscribe {
  height: 448px;
  background-image: url("../img/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
}

@media (max-width: 1599px) {
  .footer__content-subscribe {
    height: auto;
  }
}

.footer__content-subscribe-block {
  display: flex;
  justify-content: space-between;
  height: 230px;
  align-items: center;
}

@media (max-width: 1599px) {
  .footer__content-subscribe-block {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}

@media (max-width: 767px) {
  .footer__content-subscribe-block {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}

.footer__quote {
  width: 360px;
  height: 225px;
}

@media (max-width: 1599px) {
  .footer__quote {
    margin: 64px 0 48px 0;
  }
}

.footer__quote-img {
  padding: 0 0 30px 0;
}

.footer__quote-text {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.footer__subscribe {
  width: 557px;
  height: 142px;
}

@media (max-width: 1599px) {
  .footer__subscribe {
    padding: 0 0 140px 0;
  }
}

.footer__subscribe-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

.footer__subscribe-text {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

.footer__bottom {
  height: 79px;
  background-color: #222224;
  display: flex;
  align-items: center;
}

.footer__copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .footer__copy {
    flex-direction: column;
    align-items: center;
  }
}

.footer__copy-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #FBFBFB;
}

.footer__socials {
  display: flex;
}

.footer__socials-icon {
  fill: white;
}

.footer__socials-icon:hover {
  fill: #F16D7F;
}

.footer__socials-link {
  padding: 0 7px 0 0;
}

.email-btn {
  padding: 27px 0 0 0;
  display: flex;
  justify-content: center;
}

.email {
  width: 322.59px;
  height: 49px;
  background-color: #E1E1E1;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 0 0 22px;
}

@media (max-width: 767px) {
  .email {
    width: 240px;
    height: 46px;
  }
}

.sub-button {
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 375px) {
  .sub-button {
    width: 95px;
    height: 46px;
  }
}

.reg__header-title {
  height: 148px;
  background-color: #F8F3F4;
  display: flex;
  align-items: center;
}

.reg__header-title-text {
  text-transform: uppercase;
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.registation {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.registation__form {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.reg-details {
  padding: 0 0 20.5px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.reg-details-input {
  margin-bottom: 20px;
  display: inline-block;
}

.reg__input {
  height: 45px;
  width: 360px;
  padding-left: 17px;
}

.form-radio {
  padding: 11px 0 0 0;
}

.reg-details-email {
  padding: 33px 0 20px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.reg-details-descr {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #B1B1B1;
}

.join-btn {
  width: 167px;
  height: 50px;
  margin: 39px 0 96px 0;
  background-color: #F16D7F;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  position: relative;
  padding-left: 28px;
  border: none;
}

.join-btn::before {
  content: ' ';
  width: 17px;
  height: 10px;
  position: absolute;
  background-image: url(../img/pointer.svg);
  background-size: 17px 10px;
  right: 32px;
  top: 19px;
}

.registation__features {
  width: 652px;
}

.registration__features-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 0 22px 0;
}

.registration__features-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 0 21px 0;
}

.registration__features-item {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 0 16px 40px;
  position: relative;
}

.registration__features-item::before {
  content: ' ';
  position: absolute;
  width: 20px;
  height: 16px;
  background-image: url(../img/check-mark.svg);
  background-size: 20px 16px;
  top: 7px;
  left: 0px;
}

.cart {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
}

.cart__products {
  width: 652px;
  margin-bottom: 128px;
}

.cart__products-item {
  height: 306px;
  display: flex;
  margin-bottom: 40px;
  border: 1px solid #EAEAEA;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  position: relative;
}

.cart__products-item::after {
  content: ' ';
  display: block;
  background-image: url(../img/cross.svg);
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  position: relative;
  top: 28px;
  right: -105px;
}

.cart__products-img {
  padding-right: 31px;
}

.cart__products-title {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
}

.cart__products-title:hover {
  text-decoration: underline;
}

.cart__products-text {
  width: 208px;
  height: 222px;
  padding-top: 22px;
}

.cart__products-descr {
  padding-top: 42px;
}

.cart__products-descr-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  color: #575757;
}

.cart__products-descr-text--item::after {
  content: '2';
  display: inline-block;
  position: relative;
  width: 43px;
  background-color: transparent;
  height: 24px;
  border: 1px solid #EAEAEA;
  text-align: center;
  font-size: 18px;
  right: -20px;
}

.cart__products-buttons {
  display: flex;
  justify-content: space-between;
}

.cart__form {
  width: 360px;
}

.cart__form-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
}

.cart__form-input {
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  margin-top: 20px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid #A4A4A4;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.cart__form-input-btn {
  text-transform: uppercase;
  width: 101px;
  height: 35px;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: 0em;
  background-color: transparent;
  text-align: center;
  margin-top: 23px;
  border: 1px solid #A4A4A4;
}

.cart__form-input-btn:hover {
  background-color: #E8E8E8;
}

.cart__total {
  margin-top: 69px;
  box-sizing: border-box;
  height: 214px;
  background-color: #F5F3F3;
}

.cart__sub-total {
  text-transform: uppercase;
  padding: 39px 0 12px 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: right;
  color: #4A4A4A;
  position: relative;
}

.cart__sub-total::after {
  content: '$900';
  position: relative;
  text-align: left;
  right: -14px;
  padding: 0 34px 0 0;
}

.cart__grand-total {
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
  position: rel;
  color: #222222;
}

.cart__grand-total::after {
  content: '$900';
  position: relative;
  text-align: left;
  right: -14px;
  padding: 0 37px 0 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #F16D7F;
}

.cart__total-button {
  margin: 39px 44px;
  text-transform: uppercase;
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  border: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.products-button {
  text-decoration: none;
  width: 235px;
  height: 50px;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  color: #000000;
  border: 1px solid #A4A4A4;
}

.products-button:hover {
  background-color: #E8E8E8;
}

.products-button-link {
  text-decoration: none;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */