$black-color: #222222;
$pink-color: #F1E4E6;
$dark-pink-color: #F16D7F;
$gray-color: #F8F8F8;
$white-color: #FFFFFF;
$light-gray-color: #E8E8E8;
$text-light-gray-color:#5D5D5D;
$subtitle-gray-color:#9F9F9F;
$menu-gray-color: #6F6E6E;
$description-color: #B1B1B1;
$cart-gray-color: #575757;
$desktop-width:1599px;
$tablet-width:767px;
$mobile-width:375px;