.header {
    &__top {
        background-color: $black-color;
        position: relative;
    }
    &__navigation {
        display: none;
        width: 232px;
        height: 764px;
        position: absolute;
        z-index: 1;
        top: 75px;
        background-color: white;
    }
    &__navigation-item-content:hover .header__sub-title,
    &__sub-navigation-content:hover .header__sub-navigation-link {
        text-decoration: underline;
    }
    &__navigation-list {
        margin: 37px 0 0 34px;
    }
    &__title {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0 0 24px 0;
    }
    &__sub-title {
        padding: 0 0 13px 0;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: $dark-pink-color;
        text-decoration: none;
    }
    &__sub-navigation-list {
        padding: 20px 0 20px 22px;
    }
    &__sub-navigation-content {
        padding: 0 0 11px 0;
    }
    &__sub-navigation-link {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-decoration: none;
        color: $menu-gray-color;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        min-height: 75px;
        align-items: center;
        // position: relative;
    }
    &__logo {
        margin: 0 41px 0 0;
        &:hover {
            opacity: 0.9;
        }
    }
    &__search-item,
    &__burger-item,
    &__person-item,
    &__cart-item {
        fill: $light-gray-color;
        cursor: pointer;
    }
    &__burger-button {
        background: transparent;
        border: none;
        margin: 0 34px 0 0;
        // position: relative;
        &:hover .header__burger-item {
            fill: $dark-pink-color;
        }
        &:hover+.header__navigation {
            display: block;
        }
    }
    &__person {
        margin: 0 34px 0 0;
        // @include mobile {
        //     display: none;
        // }
    }
    &__cart:hover .header__cart-item,
    &__person:hover .header__person-item,
    &__search:hover .header__search-item {
        fill: $dark-pink-color;
    }
    &__content {
        display: flex;
        margin: 0 auto;
        max-width: 1600px;
        margin: 0 auto 63px auto;
        @include mobile {
            min-height: 363px;
        }
        // position: relative;
        &-img {
            @include mobile {
                display: none;
            }
            width: 50%;
            height: auto;
        }
        &-box {
            background-color: $pink-color;
            flex-grow: 1;
            display: flex;
            align-items: center;
            padding: 0 0 0 92px;
            @include tablet {
                padding: 0 0 0 68px;
            }
            @include mobile {
                padding: 0 0 0 56px;
            }
        }
        &-title {
            position: relative;
            font-size: 48px;
            font-weight: 900;
            line-height: 58px;
            text-transform: uppercase;
            @include tablet {
                @include font(44px, 52px, 900)
            }
            @include mobile {
                @include font(38px, 46px, 900);
            }
            &::before {
                content: '';
                position: relative;
                display: block;
                width: 12px;
                height: 92px;
                left: -20px;
                top: 93px;
                background-color: $dark-pink-color;
                @include mobile {
                    height: 62px;
                    top: 68px;
                }
            }
        }
        &-sub-title {
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            display: block;
            @include tablet {
                @include font(24px, 29px, 700)
            }
            @include mobile {
                @include font(20px, 24px, 700)
            }
        }
        &-pink-sub-title {
            color: $dark-pink-color;
        }
    }
}

.header__items-right {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

[type="search"] {
    height: 40px;
    max-width: 400px;
    background-color: transparent;
    border: none;
    color: $white-color;
    padding-left: 55px;
}

.search {
    padding: 30px 30px;
}

.search-form {
    margin-left: -25px;
    position: relative;
}

.search-form:before {
    content: '';
    position: absolute;
    width: 27px;
    height: 28px;
    background: none;
    top: 8px;
    left: 14px;
    background-image: url(../img/search.svg);
    background-size: 27px 28px;
}

// @media (max-width: $desktop-width) {
//     .header {
//         // padding: 0 16px;
//     }
// }
@media (max-width: $tablet-width) {
    .header {
        // padding: 0 16px;
        &__person {
            display: none;
        }
        &__cart {
            display: none;
        }
    }
}